.input-container {
  padding: 4px;
  display: flex;
  width: 98%;
  transition: transform 0.3s ease;

  &:not(.highlight):hover {
    border: 1px solid red;
  }
}

.icon-container img {
  width: 40px;
  height: 40px;
  padding: 4px;
}

.icon-container:hover {
  cursor: pointer;
}

.new-todo {
  height: 40px;
  padding: 4px;
  font-size: 28px;
  padding-left: 12px;
  border: none;

  &:focus {
    outline: none;
  }
}

.highlight {
  border: 3px solid red;
  border-radius: 0px;
}
