.task-item-container {
  padding: 4px;
  display: flex;
  width: 98%;

  &:not(.highlight):hover {
    border: 1px solid red;
  }
}

.icon-container img {
  width: 40px;
  height: 40px;
  padding: 4px;
}

.icon-container:hover {
  cursor: pointer;
}

.task-item {
  height: 40px;
  padding: 4px;
  font-size: 28px;
  padding-left: 16px;
  border: none;
  width: 440px;
  cursor: pointer;

  &:focus {
    // outline: none;
    border: 1px grey;
  }
}

.data-label {
  font-size: 28px;
  padding-left: 16px;
  padding-right: 16px;
  height: 40px;
  width: 380px;
  cursor: pointer;
}

.edit-button {
  margin-left: 16px;
}

.highlight {
  border: 3px solid red;
}

.marked {
  text-decoration: line-through;
}
