.task-item-container {
  padding: 4px;
  display: flex;
  width: 98%;
  align-items: center;
  border-bottom: 1px solid #ededed;
  img {
    width: 40px;
    height: 40px;
    padding-left: 4px;
  }

  &:not(.highlight):hover {
    border: 1px solid red;
  }
}

.icon-container {
  margin-right: 4px;
  cursor: pointer;
}

.task-item {
  height: 40px;
  padding: 4px;
  font-size: 28px;
  padding-left: 16px;
  border: none;
  width: 100%;

  &:focus {
    border: 1px grey;
  }
}

.data-label {
  font-size: 28px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 8px;
  height: 40px;
  width: 78%;
}

.edit-button {
  margin-left: 16px;
}

.delete-button {
  cursor: pointer;
}

.highlight {
  border: 3px solid red;
}

.marked {
  text-decoration: line-through;
  color: gray;
}

.hidden {
  display: none;
}
