.task-item-container {
  padding: 4px;
  display: flex;
  width: 98%;

  &:not(.highlight):hover {
    border: 1px solid red;
  }
}

.icon-container img {
  width: 40px;
  height: 40px;
  padding: 4px;
}

.icon-container:hover {
  cursor: pointer;
}

.task-item {
  height: 40px;
  padding: 4px;
  font-size: 28px;
  padding-left: 16px;
  border: none;
  width: 400px;

  &:focus {
    outline: none;
  }
}

.highlight {
  border: 3px solid red;
}

.marked {
  text-decoration: line-through;
}
