.task-menu-item {
  padding-left: 10px;
  padding-right: 10px;
  transition: transform 0.3s ease;
  cursor: pointer;

  span:first-letter {
    text-transform: capitalize;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  &:not(.highlight):hover {
    border: 1px solid red;
    border-radius: 4px;
  }
}

.highlight {
  border: 3px solid red;
}

.focus {
  border: 3px solid red;
}
